<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        @{ await RenderSectionAsync("Styles", false); }
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        
        <title>ToDo</title>
    </head>
    <body>
        <header>
            <h1>ToDoList</h1>
            <p>Organize-se e aproveite mais o tempo da sua vida!</p>
        </header>

        <nav>
            <ul>
                <li onclick="getAllItems()">Todos</li>
                <li onclick="getUncompletedItems()">Incompletos</li>
                <li onclick="getCompletedItems()">Completos</li>
            </ul>
        </nav>

        <main>
            @RenderBody()
        </main>

        <button id="newItem">&plus;</button>

        <script src="~/js/index.js"></script>
    </body>
</html>