.items-area {
    display: flex;
    flex-direction: column;
    gap: 2px;

    padding: 20px;

    width: 100%;
}

.todo-container {
    display: flex;
    border-radius: 7px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    transition: transform 0.2s;
    transition: opacity 0.5s;
}

.todo-container:hover {
    transform: scale(1.05);
}

.todo-container > section {
    padding: 1rem;
}

.todo-aside {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 18%;
    border-right: inherit;
    border-radius: 7px 0px 0px 7px;

    background-color: rgb(85, 113, 217);
}

.todo-aside > input {
    border: solid 3px;
}

.todo-main {
    width: 82%;
    color: white;
    background-color: #FA2600;
    border-radius: 0px 7px 7px 0px;
}

.todo-main-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.todo-main-header > section {
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
}

.todo-main-desc {
    font-size: 0.8rem;
}

.todo-main-header > section > h2 {
    font-size: 0.75rem;
}

.todo-main-buttons {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 7px;

    height: 50px;
}

#newItem {
    padding: 10px;
    position: fixed;

    right: 2vw;
    bottom: 2vh;

    border: solid 1px;
    border-radius: 10px;

    background-color: rgb(127, 255, 212);
    font-size: 20px;
}

#newItem:active {
    background-color: rgb(77, 205, 162);
}

#newItem > img {
    width: 20px;
}

@media only screen and (min-width: 768px) {
    .items-area {
        width: 60%;
    }

    #newItem {
        padding: 15px; 
    }

    .todo-aside {
        width: 13%;
    }

    .todo-main {
        width: 87%;
    }

    .todo-main-header > section {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        margin-top: 0px;
        margin-bottom: 0px;
    }
}


@media only screen and (min-width: 750px) and (max-width: 1220px) {
    .todo-main-header > section {
        display: block;
    }
}